{% extends "base.html" %}
{% block title %}Contacts Page{% endblock %}

{% block content %}
<h1>Contacts list</h1>

{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
            <li style="color: rgb(246, 15, 15);">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endwith %}

{% for contact in contacts %}
    {% if contact %}
        <p>{{ contact.name }}</p><br>
        <p>{{ contact.phone }}</p><br>
        <p>{{ contact.email }}</p><br>
        <p>{{ Groups: }}</p><br>
        <ul>
            {% for group in contact.groups %}
                <li>{{ group.name }}</li>
            {% endfor %}
        </ul>

        <a href="{{ url_for('delete_contact', id=contact.id) }}"
        onclick="return confirm('Are you sure you want to delete this contact?')">Delete</a>
    
        <a href="{{ url_for('edit_contact', id=contact.id) }}">Edit</a>
        
    {% endif %}
{% endfor %}
<br>
<br>
<a href="{{ url_for('add_contact') }}">Add Contact</a><br>
<a href="{{ url_for('index') }}">Back to Home</a>

{% endblock %}

{% block footer %}
    <p>Contacts Page Footer</p>


{% endblock %}