{% extends "base.html" %}

{% block content %}

    <style>
        body {
            background-color: #1a1d26;
            font-family: 'Helvetica Neue', Arial, sans-serif;
            color: #2c3e50;
            margin: 0;
            padding: 0;
        }
        .container {
            text-align: center;
            padding: 50px;
        }
        h1 {
            color: #2c3e50;
            font-size: 3em;
            margin-bottom: 10px;
        }
        p {
            color: #34495e;
            font-size: 1.2em;
            margin-bottom: 30px;
        }
        h3 {
            font-size: 1.5em;
            margin-bottom: 20px;
        }
        .button {
            display: inline-block;
            margin: 10px;
            padding: 15px 30px;
            background-color: #3498db;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }
        .button:hover {
            background-color: #2980b9;
        }
        .button.logout {
            background-color: #e74c3c;
        }
        .button.logout:hover {
            background-color: #c0392b;
        }
    </style>

    <div class="container">
        <h1>Unify</h1>
        <p>Care. Unite. Connect</p>

        {% if current_user.is_authenticated %}
            <h3>Hello {{ current_user.username }}, you are logged in to Unify.</h3>
            <div>
                <a href="{{ url_for('contacts.random_contact') }}" class="button">Reach Out</a>
                <a href="{{ url_for('update_profile') }}" class="button">Update Profile</a>
                <a href="{{ url_for('add_contact') }}" class="button">Add Contact</a>
                <a href="{{ url_for('contacts') }}" class="button">My Contacts</a>
                <a href="{{ url_for('reminders.create_reminder') }}" class="button">Create Reminder</a>
                <a href="{{ url_for('reminders.view_reminders') }}" class="button">View Reminders</a>
                <a href="{{ url_for('logout') }}" class="button logout">Logout</a>
                
            </div>
        {% else %}
            <h3>Hello, guest!</h3>
            <div>
                <a href="{{ url_for('auth.signup') }}" class="button">Sign Up</a>
                <a href="{{ url_for('auth.login') }}" class="button">Login</a>
            </div>
        {% endif %}
    </div>

{% endblock %}